
input#password.form-control {font-family:'Nanum Gothic', sans-serif; }

input#commentPassword {font-family:'Nanum Gothic', sans-serif;}

span.badge.badge-default {
    display: none;
}

header .row > div:nth-child(1) > a {
    background-repeat: no-repeat;
    display: block; width: 139px;
    height: 50px;
    background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxOTAyMjhfMjc2/MDAxNTUxMjc5OTIyNzEz.B8vA0kHBL0P89kbA3iq1CpFmKchit0-xAINH9CQl644g.V9kG012UJN0pv5JnlUpgfDqq--4o-f6trF0x9UlYyokg.PNG.yeriel1204/¥√∞‘¥ı.png?type=w800"); } 

header .row > div:nth-child(1) > a img { opacity: 0; } 


#board-info #viewers-area #viewers:after {
    content: "∏Ì¿Ã ªÁ¿∞ ¡ﬂ!" ;
}

#board-info #viewers-area #viewers:before {
    content: "ªÁ¿∞ªÁ ";	
}

#board-info #viewers-area .fa-user:before {
    content: url(https://static-cdn.jtvnw.net/badges/v1/6a8a068d-a974-4e14-91c5-2ca591a1497d/1);
}

#article-list #article-option-area { position: absolute; margin-right: 15px; right: 0; top: 0; z-index: 20; } 

*:focus {outline: none !important;}