/*파프리카 색상*/

:root {
  --color-0: #fcffe3; /* 제일 연한 거*/
  --color-1: #ddeee4; /*설명은 */
  --color-2: #c1e6d1; /* 나중에*/
  --color-3: #00c254; /* 기본색 */
  --color-4: #237045; /* 글자색 연한거 */
  --color-5: #28a960; /*제일 진한 거, 글자색 */
}


/*늘게더 기본 색*/