

/*바디*/
html,
body {
    height: auto !important;
    background: #f1fced; 
}

/*로고*/
header .container .row .col-xs-4 img {
    display: none
}

header .row > div:nth-child(1) > a {
    display: block;
    width: 200px;
    height: 50px;
    background: url("https://bit.ly/2UKYDqe") no-repeat;
    background-size: contain;
    position: relative;
    top: 4px
}

/*헤더바*/
header #header-bar > .row {
    border: none;
    background: #00c254;
    border-radius: 10px;
}

header #header-bar #header-top-notice strong.notice-badge {
    border: 2px solid #fff;
    background: #00c254
}

header #header-bar a.dropdown-toggle {
    color: #fff
}

header #header-bar #header-top-notice a {
    color: #fff
}

header-top-notice a {
    color: #fff
}


/*검색영역*/
header #right-search-form > input[type=text] {
    border-radius: 5px;
    border: 3px solid #00c254
}

header #right-search-form > #right-search-btn {
    color: #00c254
}

/*드랍메뉴*/
.dropdown-menu {
    background: #00c254;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    color: #fff
}

#favoriteDropdownMenu > li > a > span.name {
    color: #fff
}

.label-default {
    background: none
}

#playgroundDropdownMenu a {
    color: #fff
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #00c254 !important;
    font-weight: bold;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover span {
    color: #00c254 !important;
    font-weight: bold;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover .fa-remove:before,
.fa-close:before,
.fa-times:before {
    color: #00c254 !important;
}

#latestDropdownMenu .name {
    color: #fff
}

.dropdown-menu > li > a {
    color: #fff
}

.dropdown-menu-right > li > a:hover {
    font-weight: normal;
}


/*메뉴*/
#main .menu-wrapper > .header {
    background: #00c254;
    border-radius: 5px 5px 0 0;
}

#main .menu-wrapper > a > em {
    color: #00c254
}

#main .menu-wrapper > a > i.fa.fa-square {
    color: #00c254
}

#main .menu-wrapper {
    border: 1px solid #00c254;
    border-radius: 7px 7px 0 0;
}

#main .menu-wrapper > a:hover {
    background: #00c2544d;
    color: #00c254;
}

#main .menu-wrapper .spacer {
    background: #bef3d582
}

/*인포영역*/
#board-info {
    height: auto;
}

#board-info #board-info-profile-img {
    width: 5em;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #00c254;
}

#board-info #board-info-profile-img:hover {
    border: 4px double #00c254;
    transition: all 0.5s
}

#board-info .pull-right {
    margin-right: 20px;
    position: relative;
    top: -7px;
    transition: all 0.5s
}

#board-info h1 > a {
    color: #00c254;
    font-weight: bold
}

#board-info #board-info-bottom a {
    color: #00c254
}

span.badge.badge-default {
    display: none;
}


/*게시판*/
#article-list #article-option-area {
   margin-right: 15px;
}

#article-list #article-option-area>#article-option-area-toggle-btn { 
  background: transparent; 
  height: 15px; 
  opacity: 1; 
} 

#article-list #article-option-area>#article-option-area-toggle-btn:hover, #article-list #article-option-area>#article-option-area-toggle-btn:active { color: #28a960; } 


#article-list > .article-list-row > .item > .list-header > span {
    background-color: #00c254;
}

/*추천수*/
#article-list > .article-list-row > .item > .list-title > small.comment-count {
    color: #00c254;
}

/*댓글수*/
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color: #00c254
}

/*게시판닉*/
#article-list #article-list-category {
    border-color: #00c254
}

#article-content-wrapper > .header {
    border-color: #00c254
}

#main #main-content > div.frame {
    border: 1px solid #00c254
    border-radius: 10px;
}

/*인기글*/
#article-list > .article-list-row {
    border-right: none
}

#article-list > .article-list-row:hover {}



/*페이지 넘버*/
.pagination > li > a,
.pagination > li > span {
    color: #00c254
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background: #00c254;
    color: #fff
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #00c254;
    border-color: #00c254;
}


/*버튼*/
.btn-primary:hover {
    background-color: #6dfeab
}

/*글쓰기*/
.btn-primary {
    background: #00c254;
    border: none
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: #6dfeab;
    border-color: #fd4432
}


/*게시글*/
#article-reply-area > .header h5 {
    color: #00c254
}

/*댓글*/
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
    color: #00c254
}

.fr-toolbar {
    border-top: 3px solid #0ccf88
}

.fr-toolbar.fr-top i:before {
    color: #00c254
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
    border-top: 4px solid #00c254;
}

.reply-menu a {
    color: #00c254
}

.reply-menu a:hover {
    color: #6dfeab
}

#lastc {
    color: #00c254
}

#lastc:focus,
#lastc:hover {
    color: #6dfeab
}


/*푸터*/
footer a {
    color: #00c254
}

footer a:hover {
    color: #6dfeab
}

/*스크롤*/
#movetotop img {
    display: none
}

#movetotop {
    display: inline-block;
    opacity: 1;
    background: url(https://postfiles.pstatic.net/MjAxOTAzMjlfMTkw/MDAxNTUzODY4NjI2MTYz.2YehQHesf9M10Q-9_Vy3b5jv0GxTvS9u9uaqx5u9ZHEg.p6U6ShmCgNkkcoUEnu00sft7gPkbEXr8ylf_sOYA4Iwg.PNG.yeriel1204/%EC%97%85.png?type=w773);
    width: 80px;
    height: 80px;
    background-size: contain;
}


/*게시판 텝메뉴*/
#article-list #article-list-category > a {
    border-radius: 10px 10px;
    width: auto;
    margin: 5px 5px 5px 0;
    border: 2px solid #d8f3e3;
    background: #fff;
}

#article-list #article-list-category {
    background: #fff
}

#article-list #article-list-category > a.active, 
#article-list #article-list-category > a:hover {
    transition: all 0.5s;
    border: 3px double #00c254;
}

.fa-home:before {
    color: #00c254
}

/*공지사항*/
#article-list > .article-list-row.notice {
    background-color: #bef3d582;
    border-radius: 10px;
    margin-bottom: 5px;
}

#article-list>.article-list-row>.item>.list-header>strong, 
#article-list>.article-list-row>.item>.list-header>b {
    animation: infinite rainbowLinkBG 1s 
}

/*인기글*/
#article-list > .article-list-row.hot {
    background-color: #e3ffca;
    border-radius: 10px;
    margin-bottom: 5px;
}


/*상단인원*/
#board-info #viewers-area .fa-user:before {
    color: rgba(10, 59, 84, 0);
    content: url(https://postfiles.pstatic.net/MjAxOTAzMjJfMTYx/MDAxNTUzMTg4MDU3NTI1.LNJko_nZO2KczcrunLkw1bobspdPv6-T8a7_6Pa-2I4g.48XkyPbnODdz7Rk_gnTZzpEbPlNAf968q-iTq2F9LvIg.PNG.yeriel1204/%ED%8C%8C%ED%94%84%EB%A6%AC%EC%B9%B4.png?type=w773);
}

#board-info #viewers-area #viewers:before {
    content: "사육사 ";
    cursor: url(https://postfiles.pstatic.net/MjAxOTAzMzFfMTUx/MDAxNTUzOTkyMzgzMDg5.V-ewjLqrFNvuj1UZ8krF0UU2nYbzIXQzZQuZQ1E99C8g.ObWCeMrRBrN9d2tI6zL7mMGijBe9dh_SuZP_UC0zvTQg.PNG.yeriel1204/cursor_text.png?type=w773) 0 0, auto !important;
}

#board-info #viewers-area #viewers:after {
    content: "명이 사육 중";
    cursor: url(https://postfiles.pstatic.net/MjAxOTAzMzFfMTUx/MDAxNTUzOTkyMzgzMDg5.V-ewjLqrFNvuj1UZ8krF0UU2nYbzIXQzZQuZQ1E99C8g.ObWCeMrRBrN9d2tI6zL7mMGijBe9dh_SuZP_UC0zvTQg.PNG.yeriel1204/cursor_text.png?type=w773) 0 0, auto !important;

}

/*키프레임*/
small.favo i.fa.fa-heart:before {
    display: inline-block;
    transition: all 0.3s;
    animation: heat 1s infinite;
    color: #00c254
}

@keyframes heat {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.32);
    }

    100% {
        transform: scale(1);
    }

}

/* 마우스 커서 포인터 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt{
    cursor: url(https://postfiles.pstatic.net/MjAxOTAzMjlfMjM1/MDAxNTUzODY4MTk0NTUz._NgzY1bbm3pLRz0e0wqgd5Ur6aFMEdnJr24CVpWzXUog.6dvj_igdXWAfVVr53ePij3a_pdydR_0woioHEd7W9XMg.PNG.yeriel1204/%ED%8F%AC%EC%9D%B8%ED%84%B0.png?type=w773)0 0, auto !important;
}

/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
 cursor: url(https://postfiles.pstatic.net/MjAxOTAzMjlfMjYw/MDAxNTUzODY4MTk0NTU0.DzbvKCulUzmyFJObqsfl15bP40D7LS5f847In9F1GPIg.5t8CKwSvawiNgSbge2ZihQVUBxd1TmuK7s7ZLL6kKPkg.PNG.yeriel1204/%ED%8F%AC%EC%9D%B8%ED%84%B0%ED%98%B8%EB%B2%84.png?type=w773)0 0, auto !important;
}

span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
 {
 cursor: url(https://postfiles.pstatic.net/MjAxOTAzMzFfMTUx/MDAxNTUzOTkyMzgzMDg5.V-ewjLqrFNvuj1UZ8krF0UU2nYbzIXQzZQuZQ1E99C8g.ObWCeMrRBrN9d2tI6zL7mMGijBe9dh_SuZP_UC0zvTQg.PNG.yeriel1204/cursor_text.png?type=w773)0 0, auto !important;
}

/*방송시작*/
#board-info h1 > a.badge.badge-live::after {
    font-size: 12px;
    content: " 늘보 등장!";
}

/*게시글 호버*/
#article-list .article-list-row:hover, 
#article-list div.article-list-row.notice:hover {
    transform: scale(1.015);
    background: #bef3d520;
}

#article-list>.article-list-row.active {
    background-color: #fcffe3;
}

/*게시글 밑줄*/
#article-list > .article-list-row > .item > .list-checkbox,
#article-list > .article-list-row > .item > .list-header,
#article-list > .article-list-row > .item > .list-category,
#article-list > .article-list-row > .item > .list-title,
#article-list > .article-list-row > .item > .list-blocked,
#article-list > .article-list-row > .item > .list-time {
    border-radius: 10px;
}

/*버튼 추가 css*/
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #01e968;
    border-color: #01e968;
}


//공지 글자에 집어넣을 번쩍번쩍 효과, 색 바꾸기

@keyframes rainbowLinkBG{
  000%{color:#00a035;}
  020%{color:#00b74a;}
  040%{color:#24cd5e;}
  060%{color:#48e573;}
  080%{color:#24cd5e;}
  100%{color:#00b74a;}
}

@font-face { font-family: 'Dovemayo-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

*{font-family:'Dovemayo-Medium'}
//폰트 사이트 https://noonnu.cc/font_page/122

input#password.form-control {font-family:'Nanum Gothic', sans-serif; }

input#commentPassword {font-family:'Nanum Gothic', sans-serif;}

*:focus {outline: none !important;}