@keyframes binglebingle { from { transform: rotate(0deg); } to { transform: rotate(360deg); } } 

@keyframes rainbowLinkBG{
  000%{color:#2ef4f6;}
  020%{color:#07a6a8;}
  040%{color:#045c5d;}
  060%{color:#07a6a8;}
  080%{color:#2ef4f6;}
  100%{color:#8df9fa;}
}

@font-face { font-family: 'KOMACON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff'); font-weight: normal; font-style: normal; }
*:focus {outline: none !important;}

input#password.form-control {font-family:'Nanum Gothic', sans-serif; }

input#commentPassword {font-family:'Nanum Gothic', sans-serif;}



body {
   font-family: 'KOMACON' ,sans-serif;
}

::selection {
	background-color: #04d0d2;
	color: #fff;
}

header .row>div:nth-child(1)>a>img {
    display: none;
}


header .row > div:nth-child(1) > a {
    background-repeat: no-repeat;
    display: block; width: 139px;
    height: 50px;
    background-image: url("https://bit.ly/2ZzVEnp"); } 


#main .menu-wrapper>.header {
    background: #04d0d2;
    color: #fff;
    padding: 0.45em 1.4em 0.45em 1em;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.list-header span::before {
    content: '⭐️';
    vertical-align: middle;
    font-size: 5px;
}

#article-list>.article-list-row>.item>.list-header>strong,
#article-list>.article-list-row>.item>.list-header>b {
    animation: infinite rainbowLinkBG 1s 
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #fff;
    color: #004242;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 100px;
}

.list-header.v0 > span {
    display: none !important;
}

span.a-badge i.fa.fa-star {
    animation: binglebingle 4s infinite;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: none;
    color: #04d0d2
}

#article-list #article-list-category>a {
    display: inline-block;
    border: 1px solid;
    padding: 7px 9px;
    background: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    margin: 3px 4px;
}

#article-list #article-list-category {
    background: #f2ffff;
    border-top: 2px solid #04d0d2;
    border-bottom: 2px solid #04d0d2;
}

.pagination>li>a, .pagination>li>span {
    color: #fff;
    background-color: #04d0d2;
    border: none;
    border-bottom: 4px solid #51b796;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #77dfd9;
    margin-top: 2px;
    border-bottom: 2px solid #51b796;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #fff;
    background-color: #77dfd9;
    margin-top: 2px;
    border-bottom: 2px solid #51b796;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

header #header-bar>.row {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background: #fff;
    border: 2px solid #04d0d2;
    border-radius: 20px;
}

header #right-search-form>input[type=text] {
    border-radius: 10px;
    border: 2px solid #04d0d2;
}

header #right-search-form>#right-search-btn {
    color: #04d0d2;
}

#article-list>.article-list-row {
    border-radius: 10px;
    background: #fff;
    border: 1px solid #c6fbf3;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
    border-bottom: 0;
}

#article-list>.article-list-row.hot {
    background: (대충 예쁜 색);
}

#article-list>.article-list-row.notice {
    background: (대충 예쁜 색);
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #635adc;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #635adc;
}

#main .menu-wrapper .spacer {
    background: #f0feff;
}

#main .menu-wrapper>a>em {
    color: #adafff;
}

#main .menu-wrapper>a>i.fa.fa-square {
    color: #adafff;
}

#board-info #board-info-bottom a {
    color: #777;
}

#main .menu-wrapper {
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0.8em;
    border-radius: 10px;
    border: 1px solid #04d0d2;
}

#main .menu-wrapper>a>em {color: #04d0d2;} 

#main .menu-wrapper>a>i.fa.fa-square { width: 24px; display: inline-block; text-align: center; font-size: 0.1em; color: #04d0d2; vertical-align: 0.2em; } 

#main .menu-wrapper .spacer { background: #f2ffff;} 

#main .menu-wrapper a:nth-last-child(1) {
    border-radius: 0px 0px 10px 10px;
}

#main #main-content>div.frame {
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
    border: 2px solid #04d0d2;
}

#board-info h1 {
    font-size: 24px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 0;
}

#article-list #article-list-menu>.btn.best {
    background: #efc839;
    color: #fff!important;
    box-shadow: 0 4px 0 0 #daa101;
    margin: 0 0 3px 0 !important;
    border-radius: 4px!important;
}

#article-list #article-list-menu>.btn.best:hover {
    margin-top: 2px!important;
    margin-bottom: 1px!important;
    background: #eac42a!important;
    box-shadow: 0 2px 0 0 #daa101 !important;
}

.btn-primary {
    color: #fff;
    background-color: #04d0d2 !important;
    color: #fff!important;
    margin: 0 0 3px 0 !important;
    border-radius: 4px! important;
    box-shadow: 0 4px 0 0 #51b796 !important;
    border: 0 !important;
}

.btn-primary:hover {
    margin-top: 2px !important;
    margin-bottom: 1px !important;
    background: #04d0d2 !important;
    box-shadow: 0 2px 0 0 #51b796 !important;
}

#article-content-wrapper>.header {
    border-top: 0;
    background: #f0feff;
    padding: 0.6em 0.8em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#article-content-wrapper>.footer {
    background: #f0feff;
    padding: 0.5em 0.8em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

html, body {
    width: 100% !important;
    height: 100%;
    background: #fffeed;
}

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    margin-bottom: 0.5em;
    border: 1px solid #04d0d2;
    position: relative;
    border-radius: 10px;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #f0feff;
    border-bottom: 1px solid #04d0d2;
    padding: 0.4em 0.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*#board-info #viewers-area #viewers:before {
    content: "";
}*/

#board-info #viewers-area #viewers:after {
    content: "명이 기웃기웃";
}

#board-info #viewers-area {
    color: #04d0d2;
}

.fa-twitch:before {
    content: "📺";
}

.fa-film:before {
    content: "🎬";
}

.fa-user:before {
    content: url("광고 칸 위의 공간입니다");
    left: 236px;
    top: -128px;
    position: absolute;
}

#article-list>.article-list-row:hover {
    background: #f0feff;
}

#article-list>.article-list-row>.item>.list-header.v0>span:hover, #article-list>.article-list-row>.item>.list-header.v0>span {
    background: #f0feff !important;
}

#article-list>.article-list-row.active {
    background-color: #d5fffb;
}

#article-list>.article-list-row>.item>.list-header>span {
    background: none !important;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
    color: #004242;
}

#article-reply-area > .header h5 {
    color: #04d0d2;
}

a {
    color: #04d0d2;
}

.fa-info-circle:before {
    content: "🍀";
}

span.a-badge i.fa.fa-star { animation: binglebingle 4s infinite; }

#main .menu-wrapper>a:hover {
    background: #f0feff;
}

.fa-heart:before {
    content: none;
}

.dropdown .dropdown-menu, .input-group-btn .dropdown-menu {
    transition: all 0.4s cubic-bezier(0.18, 1.5, 0, 1);
}

html, body, .fr-popup.emoticons, .fr-desktop, .fr-active, .fr-tooltip, .fr-sticky-off, select.form-control, input[type=checkbox], input[type=radio], .opt {
        cursor: url(https://bit.ly/2HZy1z1.png), default !important;
}

a {
    cursor: url(https://bit.ly/2UcGwNw.png), default !important;
}

span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
 {
    cursor: url(https://bit.ly/2HYhBXy.png)0 0, auto !important;
}

#board-info h1>a:hover {
    color: #04d0d2;
}

.open>.dropdown-menu {
    border: 2px solid #04d0d2;
}

#article-list #article-list-category>a.active, #article-list #article-list-category>a:hover {
    background: #04d0d2;
    color: #fff!important;
}


#article-list .article-list-row:hover, 
#article-list div.article-list-row.notice:hover {
    transform: scale(1.015);
    background: #bef3d520;
}

span.badge.badge-default {
    display: none;
}

#movetotop img {
    display: none;
}

#movetotop {
    display: inline-block;
    opacity: 1;
    background: url(https://postfiles.pstatic.net/MjAxOTAzMjlfMTkw/MDAxNTUzODY4NjI2MTYz.2YehQHesf9M10Q-9_Vy3b5jv0GxTvS9u9uaqx5u9ZHEg.p6U6ShmCgNkkcoUEnu00sft7gPkbEXr8ylf_sOYA4Iwg.PNG.yeriel1204/%EC%97%85.png?type=w773);
    width: 80px;
    height: 80px;
    background-size: contain;
}
