/*
기본색 #c11310
연한 배경색 #fae3e4
글씨는 검정 #000
인기글용 튀는 색 #c5c5c5
좀 어두운 색 #9a0f0d
*/

/* 삽입할 링크
@import url("https://yeriel1204.github.io/css/빨.css");
*/

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1, 0.75, 1);
    transform: scale3d(1, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(1, 1.25, 1);
    transform: scale3d(1, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1, 0.95, 1);
    transform: scale3d(1, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1, 0.75, 1);
    transform: scale3d(1, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(1, 1.25, 1);
    transform: scale3d(1, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1, 0.95, 1);
    transform: scale3d(1, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes binglebingle { from { transform: rotate(0deg); } to { transform: rotate(360deg); } } 

@keyframes rainbowLinkBG{
  000%{color:#fff;}
  020%{color:#ffff9e;}
  040%{color:#ffff4b;}
  060%{color:#ffec16;}
  080%{color:#ffff4b;}
  100%{color:#ffff9e;}
}

@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

*:focus {outline: none !important;}

input#password.form-control {font-family:'Nanum Gothic', sans-serif; }

input#commentPassword {font-family:'Nanum Gothic', sans-serif;}



body {
   font-family: 'NIXGONM-Vb' ,sans-serif;
}

::selection {
    background-color: #c11310;
    color: #fff;
}

header .row>div:nth-child(1)>a>img {
    display: none;
}


header .row > div:nth-child(1) > a {
    background-repeat: no-repeat;
    display: block;
    width: 139px;
    height: 50px;
    background-image: url("https://cdn.discordapp.com/attachments/671377522717360145/671377827064578060/3.png");
    animation: rubberBand 1.5s linear infinite !important;
}


#main .menu-wrapper>.header {
    background: #c11310;
    color: #fff;
    padding: 0.45em 1.4em 0.45em 1em;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.list-header span::before {
    content: '⭐️';
    vertical-align: middle;
    font-size: 5px;
}

#article-list>.article-list-row>.item>.list-header>strong,
#article-list>.article-list-row>.item>.list-header>b {
    animation: infinite rainbowLinkBG 1s 
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 100px;
}

.list-header.v0 > span {
    display: none !important;
}

span.a-badge i.fa.fa-star {
    animation: binglebingle 4s infinite;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: none;
    color: #c11310
}

#article-list #article-list-category>a {
    display: inline-block;
    border: 1px solid;
    padding: 6px 8px;
    background: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    margin: 3px 3px;
}

#article-list #article-list-category {
    background: #fae3e4;
    border-top: 2px solid #c11310;
    border-bottom: 2px solid #c11310;
}

#article-list #article-option-area>#article-option-area-toggle-btn {
    background: transparent;
    height: 15px;
    opacity: 1;
} 

#article-list #article-option-area>#article-option-area-toggle-btn:hover, #article-list #article-option-area>#article-option-area-toggle-btn:active {
    color: #9a0f0d;
} 

#article-list #article-option-area {
    margin-right: 15px;
} 

.pagination>li>a, .pagination>li>span {
    color: #fff;
    background-color: #c11310;
    border: none;
    border-bottom: 4px solid #9a0f0d;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #ed9b9f;
    margin-top: 2px;
    border-bottom: 2px solid #9a0f0d;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #fff;
    background-color: #ed9b9f;
    margin-top: 2px;
    border-bottom: 2px solid #9a0f0d;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

header #header-bar>.row {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background: #fff;
    border: 2px solid #c11310;
    border-radius: 20px;
}

header #right-search-form>input[type=text] {
    border-radius: 10px;
    border: 2px solid #c11310;
}

header #right-search-form>#right-search-btn {
    color: #c11310;
}

#article-list>.article-list-row {
    border-radius: 10px;
    background: #fff;
    border: 1px solid #fae3e4;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
    border-bottom: 0;
}

#article-list>.article-list-row.hot {
    background: #8e8e8e;
}

#article-list>.article-list-row.notice {
    background: #fc6f55;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #000;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #000;
}

#main .menu-wrapper .spacer {
    background: #fff0f0;
}

#main .menu-wrapper>a>em {
    color: #adafff;
}

#main .menu-wrapper>a>i.fa.fa-square {
    color: #adafff;
}

#board-info #board-info-bottom a {
    color: #777;
}

#main .menu-wrapper {
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0.8em;
    border-radius: 10px;
    border: 1px solid #c11310;
}

#main .menu-wrapper>a>em {color: #c11310;} 

#main .menu-wrapper>a>i.fa.fa-square { width: 24px; display: inline-block; text-align: center; font-size: 0.1em; color: #c11310; vertical-align: 0.2em; } 

#main .menu-wrapper .spacer { background: #fae3e4;} 

#main .menu-wrapper a:nth-last-child(1) {
    border-radius: 0px 0px 10px 10px;
}

#main #main-content>div.frame {
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
    border: 2px solid #c11310;
}

#board-info h1 {
    font-size: 24px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 0;
}

#article-list #article-list-menu>.btn.best {
    background: #efc839;
    color: #fff!important;
    box-shadow: 0 4px 0 0 #daa101;
    margin: 0 0 3px 0 !important;
    border-radius: 4px!important;
}

#article-list #article-list-menu>.btn.best:hover {
    margin-top: 2px!important;
    margin-bottom: 1px!important;
    background: #eac42a!important;
    box-shadow: 0 2px 0 0 #daa101 !important;
}

.btn-primary {
    color: #fff;
    background-color: #c11310 !important;
    color: #fff!important;
    margin: 0 0 3px 0 !important;
    border-radius: 4px! important;
    box-shadow: 0 4px 0 0 #9a0f0d !important;
    border: 0 !important;
}

.btn-primary:hover {
    margin-top: 2px !important;
    margin-bottom: 1px !important;
    background: #c11310 !important;
    box-shadow: 0 2px 0 0 #9a0f0d !important;
}

#article-content-wrapper>.header {
    border-top: 0;
    background: #fff0f0;
    padding: 0.6em 0.8em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#article-content-wrapper>.footer {
    background: #fff0f0;
    padding: 0.5em 0.8em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

html, body {
    width: 100% !important;
    height: 100%;
    background: #656565;
}

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    margin-bottom: 0.5em;
    border: 1px solid #c11310;
    position: relative;
    border-radius: 10px;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #fff0f0;
    border-bottom: 1px solid #c11310;
    padding: 0.4em 0.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*#board-info #viewers-area #viewers:before {
    content: "";
}*/

#board-info #viewers-area #viewers:after {
    content: "명이 빨딱빨딱~";
}

#board-info #viewers-area {
    color: #c11310;
}

.fa-twitch:before {
    content: "📺";
}

.fa-film:before {
    content: "🎬";
}

.fa-user:before {
    content: url("광고 칸 위의 공간입니다");
    left: 236px;
    top: -128px;
    position: absolute;
}

#article-list>.article-list-row>.item>.list-title>a:visited{
    color: #b3b6bb !important;
}

#article-list>.article-list-row:hover {
    background: #fff0f0;
}

#article-list>.article-list-row>.item>.list-header.v0>span:hover, #article-list>.article-list-row>.item>.list-header.v0>span {
    background: #fff0f0 !important;
}

#article-list>.article-list-row.active {
    background-color: #d5fffb;
}

#article-list>.article-list-row>.item>.list-header>span {
    background: none !important;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
    color: #004242;
}

#article-reply-area > .header h5 {
    color: #c11310;
}

a {
    color: #c11310;
}

.fa-info-circle:before {
    content: "🔴";
}

span.a-badge i.fa.fa-star { animation: binglebingle 4s infinite; }

#main .menu-wrapper>a:hover {
    background: #fff0f0;
}

.fa-heart:before {
    content: none;
}

.dropdown .dropdown-menu, .input-group-btn .dropdown-menu {
    transition: all 0.4s cubic-bezier(0.18, 1.5, 0, 1);
}

#board-info h1>a:hover {
    color: #c11310;
}

.open>.dropdown-menu {
    border: 2px solid #c11310;
}

#article-list #article-list-category>a.active, #article-list #article-list-category>a:hover {
    background: #c11310;
    color: #fff!important;
}


#article-list .article-list-row:hover, 
#article-list div.article-list-row.notice:hover {
    transform: scale(1.015);
    background: #fdb5a8;
}

span.badge.badge-default {
    display: none;
}

html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt{
        cursor: url(https://cdn.discordapp.com/attachments/671377522717360145/671377660215296011/oxo.png) 0 0, auto !important;
}

a {
    cursor: url(https://cdn.discordapp.com/attachments/671377522717360145/671377656469651472/33341347.png) 0 0, auto !important;
}

span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
 {
    cursor: url(https://cdn.discordapp.com/attachments/671377522717360145/671377658415677451/o.png) 0 0, auto !important;
}
